body {
  padding: 0;
  margin: 0;
}

.header {
  background-color: black;
}

.dfirst {
  position: relative;
  top: 85px;
  left: 30px;
  background: #fff;
  border-radius: 15px;
  width: 380px;
  height: 440px;
  justify-content: center;
  overflow: auto;
  float: left;
  padding: 40px;
  display: flexbox;
}

.dsecond {
  position: relative;
  top: 85px;
  left: 30px;
  background: #fff;
  border-radius: 15px;
  width: 380px;
  height: 440px;
  justify-content: center;
  overflow: auto;
  margin-left: 45%;
  display: flexbox;
}

.details {
  padding: 5px;
  margin-left: 16px;
  text-align-last: left;
  text-decoration: solid;
  font-weight: bold;
  text-transform: none;
}

.dimage img {
  width: 90%;
  border-radius: 15px;
  height: 50%;
  margin: auto;
  padding: 10px;
  display: block;
}

.button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, 500%);
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: black;
}

.button1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(30%, 800%);
  padding: 10px 20px;
  background-color: #20c997;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button1:hover {
  background-color: black;
}

.edit {
  padding: 5px;
  margin-left: 16px;
  text-align-last: left;
  text-decoration: solid;
  font-weight: bold;
  text-transform: none;
}

.border {
  color: rgb(0, 0, 0);
  border: solid rgb(0, 0, 0) 1px;
  border-radius: 5px;
  cursor: auto;
  width: 200px;
  margin-left: 20px;
  text-decoration: none;
}

input[type="file"] {
  color: #20c997;
}

.ebutton {
  margin-left: 17px;
}

h1 {
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  background-color: #000000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px 0;
  text-align: center;
}


.dsecond table {
  width: 100%;
  border-collapse: collapse;
}

.dsecond th,
.dsecond td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.dsecond th {
  background-color: #f2f2f2;
}
